@font-face {
    font-family: val;
    src: url(./fuente/VAL.otf);
}

body{
    background-color: rgba(119, 246, 204, 0.603);
    display: flex;
    min-width: 300px;
}

#contcard{
    font-weight: 700;
    background-color: #88ff78;
    margin: 1vw;
    position: relative;
    top: 7vw;
    bottom: auto;
}

#barra-titulo{
    background-color: rgba(255,189,89,255);
    height: max-content;
    border-style: solid;
    border-width: 15px 0px 40px 0px;
    border-color:rgba(255,189,89,255);


}

#titulo{
    color: rgba(30,150,118,255);
    font-family: val;
    display: flex;
    min-width: 300px;
    text-shadow: 5px 4px rgba(251, 251, 69, 0.84);
    float: left;
    position: relative;
    right: 15%;
}


#tamañotit{
    text-align: center;
    position: relative;
    top: 40px;
    font-size: 350%;
}

.logo{
    position: absolute;
    right: 11%;
    top: 5%;
    width: 5%;
}

.logo #bolsita{
    opacity: 80%;
    float: right;
    width: 10vw;
    height: 8vw;
}

.logoCar{
    position: absolute;
    left: 98vw;
    top: 3vw; 
}

#navbarbg{
    width: 100vw;
}

#navbar{
    background-color: rgba(255,254,138,255);
    color: rgba(255,254,138,255);
}





@media screen {

    #PromocionDia{
        position: relative;
        left: 15%;
    }

    #box{
        width: 93vw;
        height: 40vw;
        position: absolute;
        top: 20vw;
        left: 3vw;
        background-color: #fffc68bc;
        border-style: solid;
        border-radius: 2vw;
        border-width: 2vw;
        border-color: #db7018;
    }
    
    #bPromo1{
        font-size: 25px;
        width: 40%;
        background-color: #fb941e;
    }
    #bPromo2{
        font-size: 25px;
        width: 40%; 
        background-color: #fb941e;  
    }
    #bPromo3{
        font-size: 25px;
        width: 40%;    
        background-color: #fb941e;
    }
    #buscador{
        position: relative;
        left: 70vw;
    }

    #barra-titulo{
        font-size: 2vw;
    }

    #bMenu{
        width: 9%;
        border-radius: 40px;
        background-color: #5dbf4e;
    }
    #bCategorias{
        width: 10%;
        position: absolute;
        left: 11%;
        background-color: #f1a427c8;
    }
    #bPromociones{
        width: 10%;
        position: absolute;
        left: 22%;
        background-color: #e5e23a;
    }
    #bContactos{
        width: 10%;
        position: absolute;
        left: 33%;
        background-color: #43dbc9b3;
    }       
}

@media (max-width: 1387px){

    #PromocionDia{
        position: relative;
        left: 15%;
    }

    #box{
        width: 93vw;
        height: 55vw;
        max-height: auto;
        position: absolute;
        top: 30vw;
        left: 3vw;
        background-color: #fffc68bc;
        border-style: solid;
        border-radius: 2vw;
        border-width: 2vw;
        border-color: #db7018;
    }
    
    #titulo{
        position: relative;
        left: 2vw;
    }

    .logo{
        position: absolute;
        right: 16vw;
        top: 5vw;
    }
    
    .logo #bolsita{
        opacity: 80%;
        float: right;
        width: 7vw;
        height: 6vw;
    }

    #carro{
        width: 6vw;
    }

    .logoCar{
        position: absolute;
        left: 88vw;
        top: 1vw; 
    }

    #buscador{
        position: absolute;
    }

}

@media (max-width: 985px) {
    #box{
        width: 93vw;
        height: 86vw;
        max-height: auto;
        position: absolute;
        top: 300px;
        left: 3vw;
        background-color: #fffc68bc;
        border-style: solid;
        border-radius: 2vw;
        border-width: 2vw;
        border-color: #db7018;
    }
        
    #navbar-bigger-main{
        display: none;
    }

    .logo #bolsita {
        display: none;
    }

    #barra-titulo{
        font-size: 2.7vw;
        padding-left: 15vw;
    }
    #boton-sidenav{
        font-size: 100px;
        background-color: rgb(252, 240, 108);
        width: 100px;
        height: 80px;
        position: relative;
        top: -10vw;
        left: -15vw;
    }

    #carro{
        width: 95px;
    }

    .logoCar{
        position: absolute;
        left: 60%;
        top: 125%; 
        float: right;
    }


}
@media (min-width: 413px){
    #ComprarLat{
        display: none;
    }
}

@media (max-width: 413px){
    #PromocionDia{
        position: relative;
        left: 25%;
    }
    #box{
        width: 160%;
        height: 200vw;
        max-height: auto;
        position: absolute;
        top: 200px;
        left: 3vw;
        background-color: #fffc68bc;
        border-style: solid;
        border-radius: 2vw;
        border-width: 2vw;
        border-color: #db7018;
    }
    
    #boton-sidenav{
        font-size: 100px;
        background-color: rgb(252, 240, 108);
        width: 100px;
        height: 80px;
        position: relative;
        top: -10vw;
        left: -25vw;
    }
    .logoCar{
        display: none;
    }
    #barra-titulo{
        width: 180%;
        height: 15%;
        font-size: 3vw;
        padding-left: 65px;
        padding-right: 150px;
        padding-bottom: 30vw;
    }

    #InicioSesion{
        block-size: 45%;
        border-style: solid;
        border-width: 20px;
        border-radius: 30px;
        border-color: rgb(18, 162, 114);
        background-color: rgb(18, 162, 114);
        float: left;
        position: relative;
        left: -30px;
        top: 16px;        
        padding-bottom: 40vw;
        display: flex;
    }
    .form-label{
        font-size: 25px;
        width: 280px;
    }
    #iniciarSesion{
        font-size: 160%;
        position: absolute;
        bottom: -20px;
    }
}

@media (min-width: 1260px){
    #boton-sidenav{
        display: none;
    }

}

#boton-sidenav{
    font-size: 100px;
    background-color: rgb(252, 240, 108);
    width: 100px;
    height: 80px;
    position: relative;
    bottom: 20vw;
    right: 15vw;
}

#icon-sidenav{
    font-size: 55px;
    position: absolute;
    left: 25px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }