{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>~~ Holy Shoppy ~~</title>
    <!-- CSS CDN'S -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
        integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'usuarios/css/estilo.css'%}">
    <style>
        html,
        body {
            background-image: url("/static/usuarios/img/Background.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 500px;
            overflow: hidden;
        }

        #registro {
            background: linear-gradient(90deg, rgba(187, 187, 187, 0.401) 0%, rgba(177, 177, 177, 0.4) 16%, rgba(0, 0, 0, 1) 100%);
            color: white;
            margin: 2% auto;
            font-size: 100%;
            backdrop-filter: blur(5px);
            transform: scaleY(0.8) translateX(-13%) translateY(-13%);
            border-radius: 10px;
            padding: 8%;
            font-weight: 600;
            background-color: rgba(0, 0, 0, 0.418);
            width: 20rem;

        }

        #toggle-password,
        #toggle-password2 {
            display: flex;
            float: right;
            margin: -12% -16% 0 0;
            background-color: rgba(0, 0, 0, 0.733);
            color: white;
        }

        #toggle-password:hover,
        #toggle-password2:hover {
            background-color: rgba(255, 255, 255, 0.733);
            color: black;
        }

        @media (max-width: 768px) {
            #registro {
                font-size: 21px;
                width: 400px;
                transform: translateX(0%);
            }

            .container {
                width: 500px;
                height: 980px;
            }
        }
    </style>
</head>

<body>
    <div class="container background">
        <div class="row container-md" id="cuadroRegistro"
            style="display: flex; justify-content: center; align-items: center; border-radius: 5%;">
            <div class="col-auto">
                <form action="registro" enctype="multipart/form-data" method="POST" id="registro"
                    class="d-flex flex-column needs-validation" novalidate>
                    {% csrf_token %}
                    <div id="regreso-inicio">
                        <a href="{% url 'registro' %}"><i class="bi bi-arrow-90deg-left salta"
                                style="color: #ffffff; font-size: 160%;"></i></a>
                    </div>
                    <div class="mb-3 my-4">
                        <h4>Crear Cuenta</h4>
                    </div>
                    <div class="mb-2 campo usuario">
                        <label for="form_user">Nombre de Usuario:</label>
                        <input type="text" class="form-control form-floating" id="form_user" name="form_user"
                            pattern="[A-Za-z0-9 \-._]{6,}" required>
                        <div class="valid-feedback text-center">
                            Excelente! 👍
                        </div>
                        <div class="invalid-feedback text-center">
                            Debe colocar un nombre de usuario (minimo 6 carácteres)
                        </div>
                    </div>
                    <div class="mb-2 campo">
                        <label for="form_correo">Correo electrónico:</label>
                        <input class="form-control form-floating" type="email" id="form_correo" name="form_correo"
                            pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.{1}[a-zA-Z0-9-.]+$" placeholder="name@email.com"
                            required>
                        <div class="valid-feedback text-center">
                            Excelente! 👍
                        </div>
                        <div class="invalid-feedback text-center">
                            Debe colocar un correo electrónico válido
                        </div>
                    </div>
                    <div class="mb-2 campo">
                        <label for="form_direction">Dirección: </label>
                        <input class="form-control form-floating" type="text" id="form_direction" name="form_direction"
                        pattern="[A-Za-z0-9 \-]+" required>
                        <div class="valid-feedback text-center">
                            Excelente! 👍
                        </div>
                        <div class="invalid-feedback text-center">
                            Debe colocar su Dirección, sin carácteres especiales
                        </div>
                    </div>
                    <div class="mb-2 campo">
                        <label for="form_password">Contraseña: </label>
                        <input class="form-control form-floating" type="password" id="form_password" name="form_password"
                            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9\-_\;\:.])[a-zA-Z0-9\-_\;\:.]{8,}"
                            required>
                        <button class="btn btn-secondary" onclick="mostrarContrasena()" type="button"
                            id="toggle-password">
                        <i class="bi bi-eye-fill" style="transform: scale(1.2);"></i>
                        </button>
                        <div class="valid-feedback text-center">
                            Excelente! 👍
                        </div>
                        <div class="invalid-feedback text-center">
                            <p>Debe colocar una Contraseña con las sgtes. condiciones:</p>
                            <ol>
                                <li class="mb-2">
                                    Que contenga al menos 8 carácteres
                                </li>
                                <li class="mb-2 text-justify">
                                    Que contenga al menos una mayúscula y una minúscula
                                </li>
                                <li class="mb-2">
                                    Que contenga al menos un número o carácter especial (. ; : _ -)
                                </li>

                            </ol>
                        </div>
                    </div>
                    <div class="mb-3 campo">
                        <label for="form_password_confirm">Confirmar Contraseña: </label>
                        <input class="form-control form-floating" type="password" id="form_password_confirm" required>
                        <button class="btn btn-secondary" onclick="mostrarContraConfirmada()" type="button"
                            id="toggle-password2">
                            <i class="bi bi-eye-fill" style="transform: scale(1.2);"></i>
                        </button>
                        <div class="valid-feedback text-center">
                            Excelente! 👍
                        </div>
                        <div class="invalid-feedback text-center">
                            Debe asegurar que se escriba la misma contraseña de forma exacta
                        </div>
                    </div>
                    <div class="campo">
                        <label for="form_birthday">Fecha de Nacimiento:</label>
                        <input class="form-control form-floating" type="date" id="form_birthday" name="form_birthday"
                            style="font-weight: 400; margin-bottom: 0.5vw;" required>
                        <div class="valid-feedback text-center">
                            Excelente! 👍
                        </div>
                        <div class="invalid-feedback text-center">
                            Debe colocar una fecha
                        </div>
                    </div>
                    <div class="mb-4 campo">
                        <label for="form_payment_card">Método de Pago&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-cc-visa fa-xl" style="color: #e0dfff;">&nbsp;</i><i class="fa-brands fa-cc-mastercard fa-xl" style="color: #fccabd;"></i></label>
                        <select class="form-control" id="form_payment_card" name="form_payment_card" style="font-weight: 400;" required>
                            <option value="">Seleccione...</option>
                            {% if pagos %}
                            {% for metodo in pagos %}
                                <option value="{{ metodo.id }}">{{ metodo.metodo_pago }}</option>
                            {% endfor %}
                            {% else %}
                                <option value="">No hay opciones disponibles</option>
                            {% endif %}
                        </select>
                        <div class="valid-feedback text-center">
                            Excelente! 👍
                        </div>
                        <div class="invalid-feedback text-center">
                            Debe seleccionar
                        </div>
                    </div>
                    <div class="mb-4">
                        <button type="submit" class="btn btn-outline-light crearCuenta">Registrarse!</button>
                        <button type="reset" class="btn btn-outline-blue" id="limpiar" value="Limpiar"></button>
                    </div>
                    <div id="error" class="alert alert-success" role="alert">
                        {% if mensaje %}
                        {{ mensaje }}
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- SCRIPTS FRAMEWORKS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <!-- SCRIPT MI JAVASCRIPT -->
    <script src="{% static 'usuarios/js/validacion.js' %}"></script>

</body>

</html>