{% extends "./base.html" %}
{% load static %}

{% block body %}

  <div class="container-fluid" id="seccionCarro">
    <div>
      <h2>Carrito de compras</h2>
    </div>
    <div id="seccionListCarro">
      <ul id="cart-items">
      </ul>
      <div>
        <p id="total-price">Precio total: $0</p>
      </div>
  
    </div>
  </div>

  <!-- SCRIPTS FRAMEWORKS -->
  <script>
    // Obtén el elemento de la lista del carrito
    const cartList = document.getElementById('cart-items');
    const totalPriceElement = document.getElementById('total-price');
    const refreshButton = document.getElementById('refresh-button');

    // Obtén los elementos del carrito almacenados en el almacenamiento local
    const cartItems = localStorage.getItem('cartItems') ? JSON.parse(localStorage.getItem('cartItems')) : [];

    let total = 0;

    // Itera sobre los elementos del carrito y crea elementos de lista para mostrarlos en el HTML
    cartItems.forEach((item, index) => {
      const listItem = document.createElement('li');
      listItem.textContent = `${item.title} - ${item.price}`;
      total+=extractNumberFromString(item.price);
      console.log(total);
      const deleteButton = document.createElement('button');
      deleteButton.textContent = 'Eliminar';
      deleteButton.classList.add('btn', 'btn-outline-light');
      deleteButton.addEventListener('click', () => {
        deleteFromCart(index);
        listItem.remove();
        location.reload();
      });

      // Almacena el índice como una propiedad del elemento de lista
      listItem.dataset.index = index;

      listItem.appendChild(deleteButton);
      cartList.appendChild(listItem);
      totalPriceElement.textContent = 'Precio total: $'+total;
    });

    function deleteFromCart(index) {
      // Obtén los elementos del carrito almacenados en el almacenamiento local
      const cartItems = localStorage.getItem('cartItems') ? JSON.parse(localStorage.getItem('cartItems')) : [];

      // Elimina el producto del carrito en la posición dada
      cartItems.splice(index, 1);

      // Actualiza los elementos del carrito en el almacenamiento local
      localStorage.setItem('cartItems', JSON.stringify(cartItems));
    }

    function extractNumberFromString(str) {
    // Elimina los caracteres que no sean números utilizando una expresión regular
    const numberStr = str.replace(/[^0-9]/g, '');

    // Convierte la cadena en un número decimal (float)
    const number = parseFloat(numberStr);

    return number;
    }
  </script>
{% endblock %}
