{% extends "./base.html" %}
{% load static %}

{% block body %}
  <div class="container-fluid" style="padding-bottom: 10%; padding-top: 3%;">
    <div>
        <h1 style="text-align: center;">Categorias</h1>
    </div>
      <div class="row categorias" style="justify-content: center;">
        <a class="col" href="{% url 'Electrodomesticos' %}">Electrodomesticos</a>
        <a class="col" href="#">Utiles Escolares</a>
        <a class="col" href="#">Belleza</a>
    </div>
    <div class="row categorias" style="justify-content: center;">
        <a class="col" href="#">Calzado</a>
        <a class="col" href="#">Herramientas</a>
        <a class="col" href="#">Arriendo</a>
    </div>
    <div class="row categorias" style="justify-content: center;">
        <a class="col" href="#">Aseo e Higiene</a>
        <a class="col" href="#">Tecnología</a>
        <a class="col" href="#">Empleo</a>
    </div>
    <div class="row categorias" style="justify-content: center;">
        <a class="col" href="#">Materiales DIY</a>
        <a class="col" href="#">Gasfiteria</a>
        <a class="col" href="#">Servicio Tecnico</a>
    </div>
  </div>
{% endblock %}