{% extends './base.html' %}
{% load static %}
{% block title %}HolyShoppy{% endblock %}
{% block style %}
<style>
  body {
    background-image: url("{% static './img/fondo1.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }

  .btn-light {
    background-color: black;
  }

  a{
    color: #ffffff;
  }
  a:hover{
    color: #000000;
  }
  .btn-light:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: 500;
  }

  .invalid-feedback,
  .is-invalid {
    background-color: rgba(255, 255, 255, 0.186)
  }

  #errorPassword-btn {
    background-color: rgba(255, 220, 45, 0.466);
    color: rgba(255, 255, 255, 0.466);
  }

  #errorPassword-btn:hover {
    background-color: rgba(255, 213, 0, 0.955);
    color: rgba(255, 0, 0, 0.955);
  }

  .spline-watermark {
    border-color: black;
    border: 1px;
  }

  .card .btn-primary {
    display: block;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    list-style-type: none;
  }
</style>
{% endblock %}

<body>
  {% block body %}
  <!-- CARRUSEL -->
  <div class="container-fluid" id="carrusel">
    <div class="row">
      <div class="col-12 py-4">
        <div id="carouselExampleCaptions" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'img/Promo1.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'img/Promo2.jfif' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'img/Promo3.png' %}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <!-- intro -->
    <!-- INICIO SESIÓN -->
    <div class="container-lg" id="container-session">
      <div class="row-4 flex-row" style="background-color: rgba(126, 121, 121, 0.274);">
        <p class="column p-5 textPag">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ipsam
          consequuntur non
          magnam placeat veniam, quo ducimus tempore doloribus labore assumenda quam sapiente ipsa dolorum, est earum
          harum dicta facere. Lorem ipsum dolor sit!</p>
        <iframe src='https://my.spline.design/piglook3copycopy-f2a446fb1c4f2a8181b0a8ec314d0555/' title="spline_1"
          width='100%' height='100%'></iframe>
      </div>
      <div class="row-4 flex-column">
        <div class="col-lg-4 my-0 px-2 py-2" id="inicioSesion">
            <div class="mb-0">
              <label style="margin:2% -11%; font-size:18px ; font-weight: 600;">Eres nuevo?&nbsp;&nbsp;
                <i class="fa-sharp fa-solid fa-arrow-right fa-fade fa-lg" style="color: #ffffff;"></i>&nbsp;</label>
              <button type="button" class="btn btn-light"
                style="float: right; margin: 0% -10%;"><a href="{% url 'registro' %}">Registrate</a></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  <!-- SCRIPTS FRAMEWORKS -->
  {% include 'scriptsBase.html' %}
  <!-- SCRIPT MI JAVASCRIPT -->
  {% block scripts %}
  <script src="{% static 'js/scripts' %}""></script>
  <script src="{% static 'js/validacionIS.js' %}"></script>
  <script>
    // Activación popover - error de Password
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
  </script>
  {% endblock %}
  <script type="module" src="https://unpkg.com/@splinetool/viewer/build/spline-viewer.js"></script>
  <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</body>

</html>