{% extends './baseUser.html' %}
{% load static %}
{% block title %}HolyShoppy{% endblock %}
{% block style %}
<style>
  body {
    background-image: url("{% static './img/fondo1.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }

  .btn-light {
    background-color: black;
  }

  a{
    color: #ffffff;
  }
  a:hover{
    color: #000000;
  }
  .btn-light:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: 500;
  }

  .invalid-feedback,
  .is-invalid {
    background-color: rgba(255, 255, 255, 0.186)
  }

  #errorPassword-btn {
    background-color: rgba(255, 220, 45, 0.466);
    color: rgba(255, 255, 255, 0.466);
  }

  #errorPassword-btn:hover {
    background-color: rgba(255, 213, 0, 0.955);
    color: rgba(255, 0, 0, 0.955);
  }

  ul {
    list-style-type: none;
  }

  
</style>
{% endblock %}

<body>
  {% block body %}
    <!-- INICIO SESIÓN -->
    <div class="container-flex justify-content-center" id="container-session">
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in usuarios %}
                        <tr>
                            <td>{{user.form_user}}</td>
                            <td>{{user.form_correo}}</td>
                            <td><a href="{% url 'edicionUsuario' form_user=user.form_user %}" class="btn btn-light">Editar</a></td>
                            <td><a href="{% url 'UsuarioDelete' form_user=user.form_user %}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
  {% endblock %}
  <!-- SCRIPTS FRAMEWORKS -->
  {% include 'scriptsBase.html' %}
  <!-- SCRIPT MI JAVASCRIPT -->
  {% block scripts %}
  <script src="{% static 'js/scripts' %}""></script>
  <script src="{% static 'js/validacionIS.js' %}"></script>
  <script>
    // Activación popover - error de Password
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
  </script>
  {% endblock %}
  <script type="module" src="https://unpkg.com/@splinetool/viewer/build/spline-viewer.js"></script>
  <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</body>

</html>