{% extends "./base.html" %}
{% load static %}

{% block body %}
  <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6" style="justify-content: center;">
                <img src="./img/electrodo/microondas1.png" alt="microondas img" style="width: 100%; height: auto;">
            </div>
            <div class="col-sm-12 col-md-6" style="padding: 20px;">
                <h2 style="font-size: 250%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Microondas Marca Panasonic modelo LKU12</h2>
                <p style="color: rgb(1, 214, 65);">paga en 12 cuotas!!</p>
                <br>
                <br>
                <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(92, 119, 241);">PERMITE USO DE CUPON!</p>
                <p style="font-size: 220%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Precio: $60.000</p>
                <button class="buy-btn" data-price="60000" style="width: 100px; height: 50px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 150%;">Comprar</button></div>
        </div>
    </div>
{% endblock %}