{% extends "./base.html" %}
{% load static %}

{% block body %}
<body>
    <div class="container background">
        <div class="row container-md" id="cuadroRegistro"
            style="display: flex; justify-content: center; align-items: center; border-radius: 5%;">
            <div class="col-auto">
                <form action="index.html" enctype="multipart/form-data" method="post" id="registro"
                    class="d-flex flex-column needs-validation" novalidate>
                    <div id="regreso-inicio">
                        <a href="./index.html"><i class="bi bi-arrow-90deg-left salta"
                                style="color: #ffffff; font-size: 160%;"></i></a>
                    </div>
                    <div class="mb-3 my-4">
                        <h4>Crear Cuenta</h4>
                    </div>
                    <div class="mb-2 campo usuario">
                        <label for="form_user">Nombre de Usuario:</label>
                        <input type="text" class="form-control form-floating" id="form_user" name="username"
                            pattern="[A-Za-z0-9 \-._]{6,}" required>
                        <div class="valid-feedback text-center">
                            Excelente! 👍
                        </div>
                        <div class="invalid-feedback text-center">
                            Debe colocar un nombre de usuario (minimo 6 carácteres)
                        </div>
                    </div>
                    <div class="mb-2 campo">
                        <label for="form_correo">Correo electrónico:</label>
                        <input class="form-control form-floating" type="email" id="form_correo" name="mail"
                            pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.{1}[a-zA-Z0-9-.]+$" placeholder="name@email.com"
                            required>
                        <div class="valid-feedback text-center">
                            Excelente! 👍
                        </div>
                        <div class="invalid-feedback text-center">
                            Debe colocar un correo electrónico válido
                        </div>
                    </div>
                    <div class="mb-2 campo">
                        <label for="form_direction">Dirección: </label>
                        <input class="form-control form-floating" type="text" id="form_direction" name="direction"
                        pattern="[A-Za-z0-9 \-]+" required>
                        <div class="valid-feedback text-center">
                            Excelente! 👍
                        </div>
                        <div class="invalid-feedback text-center">
                            Debe colocar su Dirección, sin carácteres especiales
                        </div>
                    </div>
                    <div class="mb-2 campo">
                        <label for="form_password">Contraseña: </label>
                        <input class="form-control form-floating" type="password" id="form_password" name="password"
                            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9\-_\;\:.])[a-zA-Z0-9\-_\;\:.]{8,}"
                            required>
                        <button class="btn btn-secondary" onclick="mostrarContrasena()" type="button"
                            id="toggle-password">
                        <i class="bi bi-eye-fill" style="transform: scale(1.2);"></i>
                        </button>
                        <div class="valid-feedback text-center">
                            Excelente! 👍
                        </div>
                        <div class="invalid-feedback text-center">
                            <p>Debe colocar una Contraseña con las sgtes. condiciones:</p>
                            <ol>
                                <li class="mb-2">
                                    Que contenga al menos 8 carácteres
                                </li>
                                <li class="mb-2 text-justify">
                                    Que contenga al menos una mayúscula y una minúscula
                                </li>
                                <li class="mb-2">
                                    Que contenga al menos un número o carácter especial (. ; : _ -)
                                </li>

                            </ol>
                        </div>
                    </div>
                    <div class="mb-3 campo">
                        <label for="form_password_confirm">Confirmar Contraseña: </label>
                        <input class="form-control form-floating" type="password" id="form_password_confirm" required>
                        <button class="btn btn-secondary" onclick="mostrarContraConfirmada()" type="button"
                            id="toggle-password2">
                            <i class="bi bi-eye-fill" style="transform: scale(1.2);"></i>
                        </button>
                        <div class="valid-feedback text-center">
                            Excelente! 👍
                        </div>
                        <div class="invalid-feedback text-center">
                            Debe asegurar que se escriba la misma contraseña de forma exacta
                        </div>
                    </div>
                    <div class="campo">
                        <label for="form_birthday">Fecha de Nacimiento:</label>
                        <input class="form-control form-floating" type="date" id="form_birthday" name="birthday"
                            style="font-weight: 400; margin-bottom: 0.5vw;" required>
                        <div class="valid-feedback text-center">
                            Excelente! 👍
                        </div>
                        <div class="invalid-feedback text-center">
                            Debe colocar una fecha
                        </div>
                    </div>
                    <div class="mb-4 campo">
                        <label for="form_payment_card">Método de Pago&nbsp;&nbsp;&nbsp;<i
                                class="fa-brands fa-cc-visa fa-xl" style="color: #e0dfff;">&nbsp;</i><i
                                class="fa-brands fa-cc-mastercard fa-xl" style="color: #fccabd;"></i>
                        </label>
                        <select class="form-control" id="form_payment_card" name="payment_card"
                            style="font-weight: 400;" required>
                            <option value="">Seleccione...</option>
                            <option value="visa">Visa</option>
                            <option value="mastercard">Mastercard</option>
                        </select>
                        <div class="valid-feedback text-center">
                            Excelente! 👍
                        </div>
                        <div class="invalid-feedback text-center">
                            Debe seleccionar
                        </div>
                    </div>
                    <div class="mb-4">
                        <button type="submit" class="btn btn-outline-light crearCuenta">Registrarse!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</html>