{% extends "../base.html" %}
{% load static %}

{% block body %}
  <div class="container-fluid">
    <h1 style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 250%;">Informaciones</h1>
    <br>
    <h3 class="titulos">¿Quienes sómos?</h3>
    <p class="info">Somos Holy Shoppy, nos dedicamos a conectar vendedores y compradores de todas las partes de chile, los vendedores pueden publicar 
      todos los productos que gusten siempre y cuando no tengan problemas con nuestros terminos y condiciones</p>
      <i class="fa-sharp fa-solid fa-user fa-beat fa-2xl" style="color: #00a868;"></i>
    <br>
    <h3 class="titulos">¿Como publico un producto?</h3>
    <p class="info">Debes iniciar sesion en tu cuenta de Holy Shoppy, luego puedes dar click en el boton de publicar ubicado en la parte superior derecha de la pagina,
      llena los datos sobre el producto que quieres publicar indicando caracteristicas, precio, etc, da en el boton de finalizar publicacion y ya estara tu producto para ser comprado por
      otro usuario. (recordar ver el apartado de como hacer el envio de tu producto).
    </p>
    <i class="fa-brands fa-shopify fa-beat fa-2xl" style="color: #0050db;"></i>
    <br>
    <h3 class="titulos">¿Se puede reembolsar?</h3>
    <p class="info">Holy Shoppy si permite reembolso, sin embargo, la solicitud solo estara permitida solo si esta dentro de nuestros terminos y condiciones.
      Para reembolsar, ve al apartado de cuenta, presiona en "pedir reembolso", rellena el apartado dandonos la razon de la solicitud y adjunta
      documentos (en el caso de tener). Inicialmente Holy Shoppy revisara tu solicitud y te mandara una respuesta a tu cuenta y correo.
    </p>
    <i class="fa-solid fa-coins fa-beat fa-2xl" style="color: #703de6;"></i>
    <br><br>
  </div>
  {% endblock %}

</html>