{% extends "../base.html" %}
{% load static %}

{% block body %}
    <div class="container-fluid">
        <div class="row gap-4 d-lg-flex flex-row flex-wrap justify-content-center mb-5 py-5">
            <div class="col-lg-4 col-md-6 mx-md-auto mx-lg-4 text-center">
                <div class="card" style="width: 100%;">
                    <img src="{% static 'img/Promo1.png' %}" class="card-img-top" alt="..." style="height: 17rem;">
                    <div class="card-body">
                        <h5 class="card-title">Rebajas de Invierno por Tiempo Limitado!</h5>
                        <p class="card-text">Aprovecha nuestros productos con esta rebaja invernal de hasta 70%! no te lo pierdas!.</p>
                        <a href="#" class="btn btn-primary">Entrar!</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mx-md-auto mx-lg-4 text-center">
                <div class="card" style="width: 100%;">
                    <img src="{% static 'img/Promo2.jfif' %}" class="card-img-top" alt="..." style="height: 17rem;">
                    <div class="card-body">
                        <h5 class="card-title">BLACK FRIDAY</h5>
                        <p class="card-text">Abran paso, abran paso!, porque ha llegado BlackFriday! rebajas por doquier de hasta 90%!.</p>
                        <a href="#" class="btn btn-primary">Entrar!</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mx-md-auto mx-lg-4 text-center">
                <div class="card" style="width: 100%;">
                    <img src="{% static 'img/Promo3.png' %}" class="card-img-top" alt="..." style="height: 17rem;">
                    <div class="card-body">
                        <h5 class="card-title">Rebaja Chaquetas North Face</h5>
                        <p class="card-text">Protegete del frío con las chaquetas de marca North Face!, se encuentran a 50% de rebaja, asi que aprovecha!.</p>
                        <a href="#" class="btn btn-primary">Entrar!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}